﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomeSinglePage>
    @using ContentModels = Umbraco.Web.PublishedContentModels;
    @{
    Layout = null;
    }


    <!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!-->
    <html class="no-js">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Verge &mdash; A free HTML5 Template by FREEHTML5.CO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
        <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
        <meta name="author" content="FREEHTML5.CO" />
        <!--
          //////////////////////////////////////////////////////

          FREE HTML5 TEMPLATE
          DESIGNED & DEVELOPED by FREEHTML5.CO

          Website: 		http://freehtml5.co/
          Email: 			info@freehtml5.co
          Twitter: 		http://twitter.com/fh5co
          Facebook: 	https://www.facebook.com/fh5co

          //////////////////////////////////////////////////////
           -->
        <!-- Facebook and Twitter integration -->
        <meta property="og:title" content="" />
        <meta property="og:image" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:description" content="" />
        <meta name="twitter:title" content="" />
        <meta name="twitter:image" content="" />
        <meta name="twitter:url" content="" />
        <meta name="twitter:card" content="" />
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico">
        <!-- Google Webfonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Sanchez:400,400italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>

        <!-- Animate.css -->
        <link rel="stylesheet" href="/styles/animate.css">
        <!-- Icomoon Icon Fonts-->
        <link rel="stylesheet" href="/styles/icomoon.css">
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="/styles/magnific-popup.css">
        <!-- Theme Style -->
        <link rel="stylesheet" href="/styles/style.css">
        <!-- Modernizr JS -->
        <script src="/scripts/modernizr-2.6.2.min.js"></script>
        <!-- FOR IE9 below -->
        <!--[if lt IE 9]>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <header role="banner" id="fh5co-header" style="background-image: url(@CurrentPage.heroBackgroundImage)">
            <div class="fh5co-overlay"></div>
            <div class="container">
                <div class="fh5co-intro-wrap">
                    <div class="fh5co-intro">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <img class="animate-2 to-animate" id="site-logo" src="~/images/header/trailer-logo.png" alt="Alternate Text" />
                                <h1 class="fh5co-intro-lead animate-1 to-animate">@CurrentPage.siteTitle</h1>
                                <h2 class="fh5co-intro-sub animate-2 to-animate">@CurrentPage.mainSubtitle</h2>
                                <p class="fh5co-social text-center" id="fh5co-intro-social">
                                    <a href="#" class="to-animate"><i class="icon-facebook-with-circle"></i></a>
                                    <a href="#" class="to-animate"><i class="icon-twitter-with-circle"></i></a>
                                    <a href="#" class="to-animate"><i class="icon-dribbble-with-circle"></i></a>
                                    <a href="#" class="to-animate"><i class="icon-google-with-circle"></i></a>
                                    <a href="#" class="to-animate"><i class="icon-instagram-with-circle"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main role="main" id="fh5co-main">
            <div class="container" id="bio-animate">
                <div class="row row-padded">
                    <div class="col-md-3">
                        <h2 class="fh5co-section-heading to-animate">@CurrentPage.aboutHeading<span class="fh5co-border"></span></h2>
                    </div>
                    <div class="col-md-8 col-md-push-1">
                        <div class="row">
                            <div class="col-md-6 to-animate">
                                @CurrentPage.aboutContent
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END .row -->
            </div>
            <!-- END .container -->

            <div class="fh5co-section-seperator" style="background-image: url(images/hero-2.jpg);" data-stellar-background-ratio="0.5">
                <div class="fh5co-overlay"></div>
                <div class="container" id="counter-animate">
                    <div class="fh5co-section-content-wrap">
                        <div class="fh5co-section-content">
                            <div class="row">
                                <div class="col-md-4 text-center to-animate">
                                    <span class="fh5co-counter js-counter" data-from="0" data-to="@CurrentPage.counter1Count" data-speed="5000" data-refresh-interval="50"></span>
                                    <span class="fh5co-counter-label">@CurrentPage.counter1Title</span>

                                </div>
                                <div class="col-md-4 text-center to-animate">
                                    <span class="fh5co-counter js-counter" data-from="0" data-to="@CurrentPage.counter2Count" data-speed="5000" data-refresh-interval="50"></span>
                                    <span class="fh5co-counter-label">@CurrentPage.counter2Title</span>
                                </div>
                                <div class="col-md-4 text-center to-animate">
                                    <span class="fh5co-counter js-counter" data-from="0" data-to="@CurrentPage.counter3Count" data-speed="5000" data-refresh-interval="50"></span>
                                    <span class="fh5co-counter-label">@CurrentPage.counter3Title</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END .container -->
            <div class="container" id="projects-animate">
                <div class="row row-padded">
                    <div class="col-md-3">
                        <h2 class="fh5co-section-heading to-animate">Projects<span class="fh5co-border"></span></h2>
                        <p class="to-animate">Libero velit fugit blanditiis tempora repellat iste inventore amet quaerat ex aliquid sint labore placeat esse.</p>
                    </div>
                    <div class="col-md-8 col-md-push-1">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-project to-animate">
                                <a href="images/work_1.jpg" class="image-popup">
                                    <div class="fh5co-overlay-text">Project no. 1</div>
                                    <div class="fh5co-overlay"></div>
                                    <img src="images/work_1.jpg" alt="Free HTML5 Template" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-project to-animate">
                                <a href="images/work_2.jpg" class="image-popup">
                                    <div class="fh5co-overlay-text">Project no. 2</div>
                                    <div class="fh5co-overlay"></div>
                                    <img src="images/work_2.jpg" alt="Free HTML5 Template" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-project to-animate">
                                <a href="images/work_3.jpg" class="image-popup">
                                    <div class="fh5co-overlay-text">Project no. 3</div>
                                    <div class="fh5co-overlay"></div>
                                    <img src="images/work_3.jpg" alt="Free HTML5 Template" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-project to-animate">
                                <a href="images/work_4.jpg" class="image-popup">
                                    <div class="fh5co-overlay-text">Project no. 4</div>
                                    <div class="fh5co-overlay"></div>
                                    <img src="images/work_4.jpg" alt="Free HTML5 Template" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-project to-animate">
                                <a href="images/work_5.jpg" class="image-popup">
                                    <div class="fh5co-overlay-text">Project no. 5</div>
                                    <div class="fh5co-overlay"></div>
                                    <img src="images/work_5.jpg" alt="Free HTML5 Template" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-project to-animate">
                                <a href="images/work_6.jpg" class="image-popup">
                                    <div class="fh5co-overlay-text">Project no. 6</div>
                                    <div class="fh5co-overlay"></div>
                                    <img src="images/work_6.jpg" alt="Free HTML5 Template" class="img-responsive">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END .row -->
            </div>
            <!-- END .container -->
            <div class="fh5co-section-seperator" id="testimony-animate" style="background-image: url(images/hero-3.jpg);" data-stellar-background-ratio="0.5">
                <div class="fh5co-overlay"></div>
                <div class="container">
                    <div class="fh5co-section-content-wrap">
                        <div class="fh5co-section-content">
                            <div class="row">
                                <div class="col-md-9 col-md-offset-1 fh5co-testimony to-animate">
                                    <blockquote>
                                        <p class="text-center quote">&ldquo;Design is not just what it looks like and feels like. Design is how it <em>works</em>. &rdquo; <cite class="author">&mdash; Steve Jobs</cite></p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END .container -->
            <div class="container" id="services-animate">
                <div class="row row-padded">
                    <div class="col-md-3">
                        <h2 class="fh5co-section-heading to-animate">Services<span class="fh5co-border"></span></h2>
                        <p class="to-animate">Libero velit fugit blanditiis tempora repellat iste inventore amet quaerat ex aliquid sint labore placeat esse.</p>
                    </div>
                    <div class="col-md-8 col-md-push-1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="fh5co-accordion-wrap">
                                    <div class="fh5co-accordion to-animate">
                                        <div class="fh5co-accordion-head">
                                            <a href="#" class="fh5co-accordion-toggle js-fh5co-accordion-toggle">Show More</a>
                                            <h3><i class="icon-clapperboard"></i>Creative Direction</h3>
                                        </div>
                                        <div class="fh5co-accordion-body active">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum distinctio at molestias atque in adipisci vero porro nam, enim excepturi esse. Quisquam, cupiditate inventore excepturi totam sint, nisi illo sit dicta dignissimos amet alias facilis molestiae in quaerat. Veritatis doloribus voluptates esse culpa perferendis laudantium sunt dolor laborum, odit dolores.</p>
                                        </div>
                                    </div>
                                    <!-- END .fh5co-accordion -->
                                    <div class="fh5co-accordion to-animate">
                                        <div class="fh5co-accordion-head">
                                            <a href="#" class="fh5co-accordion-toggle js-fh5co-accordion-toggle">Show More</a>
                                            <h3><i class="icon-hand"></i>Logo &amp; Identity Design</h3>
                                        </div>
                                        <div class="fh5co-accordion-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum distinctio at molestias atque in adipisci vero porro nam, enim excepturi esse. Quisquam, cupiditate inventore excepturi totam sint, nisi illo sit dicta dignissimos amet alias facilis molestiae in quaerat. Veritatis doloribus voluptates esse culpa perferendis laudantium sunt dolor laborum, odit dolores.</p>
                                        </div>
                                    </div>
                                    <!-- END .fh5co-accordion -->

                                    <div class="fh5co-accordion to-animate">
                                        <div class="fh5co-accordion-head">
                                            <a href="#" class="fh5co-accordion-toggle js-fh5co-accordion-toggle">Show More</a>
                                            <h3><i class="icon-laptop"></i>Websites</h3>
                                        </div>
                                        <div class="fh5co-accordion-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum distinctio at molestias atque in adipisci vero porro nam, enim excepturi esse. Quisquam, cupiditate inventore excepturi totam sint, nisi illo sit dicta dignissimos amet alias facilis molestiae in quaerat. Veritatis doloribus voluptates esse culpa perferendis laudantium sunt dolor laborum, odit dolores.</p>
                                        </div>
                                    </div>
                                    <!-- END .fh5co-accordion -->
                                    <div class="fh5co-accordion to-animate">
                                        <div class="fh5co-accordion-head">
                                            <a href="#" class="fh5co-accordion-toggle js-fh5co-accordion-toggle">Show More</a>
                                            <h3><i class="icon-shopping-cart"></i>Ecommerce</h3>
                                        </div>
                                        <div class="fh5co-accordion-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum distinctio at molestias atque in adipisci vero porro nam, enim excepturi esse. Quisquam, cupiditate inventore excepturi totam sint, nisi illo sit dicta dignissimos amet alias facilis molestiae in quaerat. Veritatis doloribus voluptates esse culpa perferendis laudantium sunt dolor laborum, odit dolores.</p>
                                        </div>
                                    </div>
                                    <!-- END .fh5co-accordion -->
                                    <div class="fh5co-accordion to-animate">
                                        <div class="fh5co-accordion-head">
                                            <a href="#" class="fh5co-accordion-toggle js-fh5co-accordion-toggle">Show More</a>
                                            <h3><i class="icon-mobile"></i>Responsive &amp; Mobile</h3>
                                        </div>
                                        <div class="fh5co-accordion-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum distinctio at molestias atque in adipisci vero porro nam, enim excepturi esse. Quisquam, cupiditate inventore excepturi totam sint, nisi illo sit dicta dignissimos amet alias facilis molestiae in quaerat. Veritatis doloribus voluptates esse culpa perferendis laudantium sunt dolor laborum, odit dolores.</p>
                                        </div>
                                    </div>
                                    <!-- END .fh5co-accordion -->
                                    <div class="fh5co-accordion to-animate">
                                        <div class="fh5co-accordion-head">
                                            <a href="#" class="fh5co-accordion-toggle js-fh5co-accordion-toggle">Show More</a>
                                            <h3><i class="icon-man"></i>User Experience</h3>
                                        </div>
                                        <div class="fh5co-accordion-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum distinctio at molestias atque in adipisci vero porro nam, enim excepturi esse. Quisquam, cupiditate inventore excepturi totam sint, nisi illo sit dicta dignissimos amet alias facilis molestiae in quaerat. Veritatis doloribus voluptates esse culpa perferendis laudantium sunt dolor laborum, odit dolores.</p>
                                        </div>
                                    </div>
                                    <!-- END .fh5co-accordion -->
                                    <div class="fh5co-accordion to-animate">
                                        <div class="fh5co-accordion-head">
                                            <a href="#" class="fh5co-accordion-toggle js-fh5co-accordion-toggle">Show More</a>
                                            <h3><i class="icon-mail"></i>Email Marketing</h3>
                                        </div>
                                        <div class="fh5co-accordion-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum distinctio at molestias atque in adipisci vero porro nam, enim excepturi esse. Quisquam, cupiditate inventore excepturi totam sint, nisi illo sit dicta dignissimos amet alias facilis molestiae in quaerat. Veritatis doloribus voluptates esse culpa perferendis laudantium sunt dolor laborum, odit dolores.</p>
                                        </div>
                                    </div>
                                    <!-- END .fh5co-accordion -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END .row -->
            </div>
            <!-- END .container -->
            <div class="fh5co-section-seperator fh5co-section-seperator-white" id="contact-animate" style="background-image: url(images/hero-4.jpg);" data-stellar-background-ratio="0.5">
                <div class="fh5co-overlay"></div>
                <div class="container">
                    <div class="fh5co-section-content-wrap">
                        <div class="fh5co-section-content">
                            <div class="row">

                                <div class="col-md-3">
                                    <h2 class="fh5co-section-heading to-animate">Get In Touch<span class="fh5co-border"></span></h2>

                                    <ul class="fh5co-contact">
                                        <li class="fh5co-contact-address to-animate">
                                            <i class="icon-home"></i>
                                            5555 Love Paradise 56 New Clity 5655, Excel Tower United Kingdom
                                        </li>
                                        <li class="to-animate"><i class="icon-phone"></i> (123) 465-6789</li>
                                        <li class="to-animate"><i class="icon-email"></i>info@freehtml5.co</li>
                                        <li class="to-animate"><i class="icon-globe"></i> <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-8 col-md-push-1">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group to-animate">
                                                <label for="name" class="sr-only">Name</label>
                                                <input type="text" id="name" class="form-control" placeholder="Name">
                                            </div>
                                            <div class="form-group to-animate">
                                                <label for="email" class="sr-only">Email</label>
                                                <input type="email" id="email" class="form-control" placeholder="Email">
                                            </div>
                                            <div class="form-group to-animate">
                                                <label for="phone" class="sr-only">Phone</label>
                                                <input type="text" id="phone" class="form-control" placeholder="Phone">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group to-animate">
                                                <label for="message" class="sr-only">Message</label>
                                                <textarea name="" id="message" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
                                            </div>
                                            <div class="form-group to-animate">
                                                <input type="submit" class="btn btn-primary btn-block" value="Send Message">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END .container -->
        </main>
        <footer role="contentinfo" id="fh5co-footer">
            <div class="container" id="footer-animate">
                <div class="row row-padded">
                    <div class="col-md-8 col-md-push-4">
                        <p class="to-animate">&copy; 2015 Free Verge. All Rights Reserved. Designed: <a href="http://freehtml5.co" target="_blank">FREEHTML5.co</a></p>
                        <p class="to-animate">Images: <a href="http://unsplash.com" target="_blank">Unsplash</a> &amp; <a href="http://plmd.me" target="_blank">plmd.me</a></p>
                    </div>
                </div>
            </div>
            <!-- END .container -->
        </footer>
        <!-- jQuery -->
        <script src="/scripts/jquery.min.js"></script>
        <!-- jQuery Easing -->
        <script src="/scripts/jquery.easing.1.3.js"></script>
        <!-- Bootstrap -->
        <script src="/scripts/bootstrap.min.js"></script>
        <!-- Waypoints -->
        <script src="/scripts/jquery.waypoints.min.js"></script>
        <!-- Stellar -->
        <script src="/scripts/jquery.stellar.min.js"></script>
        <!-- countTo -->
        <script src="/scripts/jquery.countTo.js"></script>
        <!-- Magnific Popup -->
        <script src="/scripts/jquery.magnific-popup.min.js"></script>
        <!-- Main JS -->
        <script src="/scripts/main.js"></script>

    </body>
</html>
